[Desktop Entry]
Type=Application
Name=Check for system updates
Name[ar]=التحقق من تحديثات النظام
Name[de]=Nach Systemaktualisierungen suchen
Name[es]=Buscar actualizaciones del sistema
Name[fr]=Rechercher des mises à jour système
Name[he]=בדיקת עדכוני מערכת
Name[ja]=システムアップデートを確認
Name[ru]=Проверить системные обновления
Name[sv]=Sök efter systemuppdateringar
Comment=Update Fluff Linux
Comment[ar]=تحديث فلاف لينكس
Comment[de]=Fluff Linux aktualisieren
Comment[es]=Actualizar Fluff Linux
Comment[fr]=Mettre à jour Fluff Linux
Comment[he]=עדכון פלאף לינוקס
Comment[ja]=Fluff Linux をアップデート
Comment[ru]=Обновить Fluff Linux
Comment[sv]=Uppdatera Fluff Linux
Exec=kcmshell6 kcm_fluffupdates
Icon=system-software-update
Terminal=false
Categories=System;Settings;
Keywords=Fluff Linux;updates;system updates;pacman;upgrade;
Keywords[ar]=فلاف لينكس;تحديثات;تحديثات النظام;باكمان;ترقية;
Keywords[de]=Fluff Linux;Aktualisierungen;Systemaktualisierungen;pacman;Upgrade;
Keywords[es]=Fluff Linux;actualizaciones;actualizaciones del sistema;pacman;actualizar;
Keywords[fr]=Fluff Linux;mises à jour;mises à jour système;pacman;mise à niveau;
Keywords[he]=פלאף לינוקס;עדכונים;עדכוני מערכת;פקמן;שדרוג;
Keywords[ja]=Fluff Linux;アップデート;システムアップデート;pacman;更新;
Keywords[ru]=Fluff Linux;обновления;системные обновления;pacman;обновление;
Keywords[sv]=Fluff Linux;uppdateringar;systemuppdateringar;pacman;uppgradering;
StartupNotify=true
