[Desktop Entry]
Type=Application
Name=Check for system updates
Name[bg]=Проверете за системни актуализации
Name[cs]=Zkontrolujte aktualizace systému
Name[da]=Se efter systemopdateringer
Name[el]=Ελέγξτε για ενημερώσεις συστήματος
Name[et]=Kontrollige süsteemivärskendusi
Name[fi]=Tarkista järjestelmäpäivitykset
Name[ga]=Seiceáil le haghaidh nuashonruithe córais
Name[hr]=Provjerite postoje li ažuriranja sustava
Name[hu]=Ellenőrizze a rendszerfrissítéseket
Name[it]=Controlla gli aggiornamenti di sistema
Name[lt]=Patikrinkite, ar nėra sistemos naujinimų
Name[lv]=Pārbaudiet sistēmas atjauninājumus
Name[mt]=Iċċekkja għal aġġornamenti tas-sistema
Name[nl]=Controleer op systeemupdates
Name[pl]=Sprawdź dostępność aktualizacji systemu
Name[pt]=Verifique se há atualizações do sistema
Name[ro]=Verificați actualizările de sistem
Name[sk]=Skontrolujte aktualizácie systému
Name[sl]=Preverite sistemske posodobitve
Name[ar]=التحقق من تحديثات النظام
Name[de]=Nach Systemaktualisierungen suchen
Name[es]=Buscar actualizaciones del sistema
Name[fr]=Rechercher des mises à jour système
Name[he]=בדיקת עדכוני מערכת
Name[ja]=システムアップデートを確認
Name[ru]=Проверить системные обновления
Name[sv]=Sök efter systemuppdateringar
Comment=Update Fluff Linux
Comment[bg]=Актуализирайте Fluff Linux
Comment[cs]=Aktualizujte Fluff Linux
Comment[da]=Opdater Fluff Linux
Comment[el]=Ενημέρωση Fluff Linux
Comment[et]=Värskendage Fluff Linux
Comment[fi]=Päivitä Fluff Linux
Comment[ga]=Nuashonraigh Fluff Linux
Comment[hr]=Ažurirajte Fluff Linux
Comment[hu]=Frissítse az Fluff Linux-t
Comment[it]=Aggiorna Fluff Linux
Comment[lt]=Atnaujinkite Fluff Linux
Comment[lv]=Atjauniniet Fluff Linux
Comment[mt]=Aġġorna Fluff Linux
Comment[nl]=Update Fluff Linux
Comment[pl]=Zaktualizuj Fluff Linux
Comment[pt]=Atualizar Fluff Linux
Comment[ro]=Actualizați Fluff Linux
Comment[sk]=Aktualizácia Fluff Linux
Comment[sl]=Posodobite Fluff Linux
Comment[ar]=تحديث فلاف لينكس
Comment[de]=Fluff Linux aktualisieren
Comment[es]=Actualizar Fluff Linux
Comment[fr]=Mettre à jour Fluff Linux
Comment[he]=Fluff Linux Update
Comment[ja]=Fluff Linux をアップデート
Comment[ru]=Обновить Fluff Linux
Comment[sv]=Uppdatera Fluff Linux
Exec=kcmshell6 kcm_fluffupdates
Icon=system-software-update
Terminal=false
Categories=System;Settings;
Keywords=Fluff Linux;updates;system updates;pacman;upgrade;
Keywords[bg]=Fluff Linux;актуализации;системни актуализации;надграждане;pacman;
Keywords[cs]=Fluff Linux;aktualizace;aktualizace systému;upgrade;pacman;
Keywords[da]=Fluff Linux;opdateringer;systemopdateringer;opgradering;pacman;
Keywords[el]=Fluff Linux;ενημερώσεις;ενημερώσεις συστήματος;αναβάθμιση;pacman;
Keywords[et]=Fluff Linux;värskendused;süsteemi värskendused;uuendus;pacman;
Keywords[fi]=Fluff Linux;päivitykset;järjestelmäpäivitykset;päivitys;pacman;
Keywords[ga]=Fluff Linux;nuashonruithe; nuashonruithe córais;uasghrádú;pacman;
Keywords[hr]=Fluff Linux;ažuriranja; ažuriranja sustava; nadogradnja;pacman;
Keywords[hu]=Fluff Linux;frissítések;rendszerfrissítések;frissítés;pacman;
Keywords[it]=Fluff Linux;aggiornamenti;aggiornamenti di sistema;aggiornamento;pacman;
Keywords[lt]=Fluff Linux;atnaujinimai;sistemos atnaujinimai;atnaujinimas;pacman;
Keywords[lv]=Fluff Linux;atjauninājumi;sistēmas atjauninājumi;jaunināšana;pacman;
Keywords[mt]=Fluff Linux;aġġornamenti;aġġornamenti tas-sistema;aġġornament;pacman;
Keywords[nl]=Fluff Linux;updates;systeemupdates;upgrade;pacman;
Keywords[pl]=Fluff Linux;aktualizacje;aktualizacje systemu;aktualizacja;pacman;
Keywords[pt]=Fluff Linux;atualizações;atualizações do sistema;atualização;pacman;
Keywords[ro]=Fluff Linux;actualizări;actualizări de sistem;upgrade;pacman;
Keywords[sk]=Fluff Linux;aktualizácie;aktualizácie systému;aktualizácia;pacman;
Keywords[sl]=Fluff Linux;posodobitve;posodobitve sistema;nadgradnja;pacman;
Keywords[ar]=فلاف لينكس;تحديثات;تحديثات النظام;باكمان;ترقية;
Keywords[de]=Fluff Linux;Aktualisierungen;Systemaktualisierungen;pacman;Upgrade;
Keywords[es]=Fluff Linux;actualizaciones;actualizaciones del sistema;pacman;actualizar;
Keywords[fr]=Fluff Linux;mises à jour;mises à jour système;pacman;mise à niveau;
Keywords[he]=Fluff Linux;עדכונים;עדכוני מערכת;פקמן;שדרוג;
Keywords[ja]=Fluff Linux;アップデート;システムアップデート;pacman;更新;
Keywords[ru]=Fluff Linux;обновления;системные обновления;pacman;обновление;
Keywords[sv]=Fluff Linux;uppdateringar;systemuppdateringar;pacman;uppgradering;
StartupNotify=true
